.navbar {
    background-color: #2296e3 !important;
}

ul {
    margin: 0 auto !important;
}

.nav-item {
    margin: 10px;
    font-size: large;
}

form {
    display: flex;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    width: max-content;
    margin: 30px auto;
    height: 100px;
}

.logo img {
    width: 100%;
}

.logo {
    width: 400px;
}

.date {
    text-align: center;
    margin-top: 20px;
    font-size: large;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.nav-item {
    border-right: 2px solid white;
    padding-right: 20px;
}

.btn {
    background-color: #0971b6 !important;
}

.btn:active {
    background-color: #0b92ec !important;
}

.cardsgrid {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    border: none !important;
    margin: 10px;
}

.cardsgrid2 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.footer {
    background-color: #222222 !important;
    color: hsla(0, 0%, 100%, 80%);
    font-size: small;
    font-weight: normal;
    margin-top: 5%;
    height: 100px;
}

.loader {
    display: none;
    justify-content: center;
    width: 100% !important;
    height: 100%;
    background-color: white !important;
}

.loader img {
    width: 40%;
    margin: 0 auto !important;
    margin-left: 30% !important;
    margin-bottom: 8%;
}

.card-title {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
}

.card-title:hover {
    color: #0166aa;
    cursor: pointer;
}

.card-text {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

.cat-name {
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin-left: 20px;
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bold;
}

.navbar-brand {
    cursor: pointer;
}

.loader2 {
    /* border: 2px solid black; */
    width: max-content;
    height: max-content;
    margin: 0 auto;
    display: none;
}

#loaderImg2 {
    width: 500px !important;
}